.example-15 .single {
  line-height: 3em;
  box-shadow: 0 5px 4px -4px black;
}
.example-15 .adjacent {
  margin-top: 20px;
  line-height: 3em;
  box-shadow: 3px 3px 6px -3px black;
}
.example-15 .subtense {
  margin-top: 20px;
  line-height: 3em;
  box-shadow: -4px 0 3px -3px black,
      4px 0 3px -3px black;
}

.example-16 {
  position: relative;
  width: 200px;
  line-height: 10em;
  background: #65a;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .5));
}
.example-16::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 20%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #007bff;
}

.example-17 .filter {
  width: 400px;
}
.example-17 .filter img {
  max-width: 100%;
  filter: sepia(1) saturate(4) hue-rotate(295deg);
  transition: .5s filter;
}
.example-17 .filter img:hover,
.example-17 .filter img:focus {
  filter: none;
}

.example-17 .mix {
  margin-top: 20px;
  width: 400px;
  background: hsl(335, 100%, 50%);
  transition: .5s background;
}
.example-17 .mix:hover {
  background: transparent;
}
.example-17 .mix img {
  max-width: 100%;
  mix-blend-mode: luminosity;
}

.example-17 .bg-mix {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  background: url(http://4.bp.blogspot.com/-NvvzyVPg7qY/VFcRN9A342I/AAAAAAAAA5o/fXAblGcldbM/s1600/6%E8%80%81%E8%99%8E%2B%E6%94%9D%E7%90%86.jpg),
     hsl(335, 100%, 50%);
  background-size: contain;
  background-blend-mode: luminosity;
}

.example-18 {
  position: relative;
  height: 300px;
  background: url(http://4.bp.blogspot.com/-NvvzyVPg7qY/VFcRN9A342I/AAAAAAAAA5o/fXAblGcldbM/s1600/6%E8%80%81%E8%99%8E%2B%E6%94%9D%E7%90%86.jpg) 0 / cover fixed;
  background-size: cover;
}
.example-18 blockquote {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 400px;
  min-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  background: hsla(0, 0%, 100%, .3);
}

.example-18 blockquote::before {
  content: '';
  position: absolute;
  margin: -30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(http://4.bp.blogspot.com/-NvvzyVPg7qY/VFcRN9A342I/AAAAAAAAA5o/fXAblGcldbM/s1600/6%E8%80%81%E8%99%8E%2B%E6%94%9D%E7%90%86.jpg) 0 / cover fixed; 
  filter: blur(20px);
  z-index: -1;
}
